
$page-bg: #fff;

$bot-bg: #fff;
$bot-border-color: #2f2f2f;

$chat-bubble-bot-bg: #9edc74;
$chat-bubble-bot-typing-bg: #efefef;
$chat-bubble-bot-txt-color: #000;
$chat-bubble-bot-link-txt-color: #000;

$chat-bubble-user-bg: #e4e4e4;
$chat-bubble-user-txt-color: #000;

$chat-suggestion-txt-color: #fff;
$chat-suggestion-bg-color: #2f2f2f;
$chat-suggestion-bg-hover-color: #1f1f1f;
$chat-suggestion-bg-active-color: #000;

$chat-suggestion-txt-color: #fff;
$chat-suggestion-txt-hover-color: #fff;
$chat-suggestion-txt-active-color: #fff;

$chat-input-border-color:  #2f2f2f;
$chat-input-txt-color:  #2f2f2f;
$chat-input-placeholder-color:  #575757;

$chat-send-btn: #60b529;
$chat-send-btn-hover: #509822;
$chat-send-btn-active: #43801d;
$chat-send-icon-color: #fff;

$link-text-color: #60b529;
$link-text-hover-color: #509822;
$link-text-active-color: #43801d;

