$font-family: 'Open Sans', sans-serif;

$message-input-height: 195px;

$chat-bubble-bot-font-size: 14px;
$chat-bubble-bot-font-size-mobile: 12px;
$chat-bubble-user-font-size: 14px;
$chat-bubble-user-font-size-mobile: 12px;

$chat-input-font-size: 14px;
$chat-quick-reply-font-size: 14px;

$bot-border-thickness: 2px;